BasedOnStyle: LLVM
UseTab: Always
TabWidth: 4
IndentWidth: 4
BreakBeforeBraces: Attach
SpaceBeforeParens: Never
SpaceAfterCStyleCast: false
SpaceBeforeAssignmentOperators: true
SpaceInEmptyParentheses: false
SpacesInParentheses: false
SpacesInAngles: false
SpaceAfterTemplateKeyword: false
SpaceBeforeCpp11BracedList: false
Cpp11BracedListStyle: true
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLoopsOnASingleLine: true
AllowShortBlocksOnASingleLine: Always
ColumnLimit: 0
PointerAlignment: Left
AlignAfterOpenBracket: DontAlign
BinPackArguments: true
BinPackParameters: true
IndentPPDirectives: AfterHash
SpaceBeforeSquareBrackets: false
AccessModifierOffset: -4
IndentAccessModifiers: false
